USE [master]
GO
/****** Objeto: Database [Accenture_Prueba_Tec_Franquicias] Fecha de script: 23/09/2026 7:16:58 p. m. ******/
CREATE DATABASE [Accenture_Prueba_Tec_Franquicias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Accenture_Prueba_Tec_Franquicias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Accenture_Prueba_Tec_Franquicias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Accenture_Prueba_Tec_Franquicias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Accenture_Prueba_Tec_Franquicias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Accenture_Prueba_Tec_Franquicias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Accenture_Prueba_Tec_Franquicias]
GO
/****** Objeto: Table [dbo].[Franquicias] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Franquicias](
	[franquicia_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Franquicia] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Franquicias] PRIMARY KEY CLUSTERED 
(
	[franquicia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Franquicias_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_Franquicia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[producto_nombre] [nvarchar](150) NOT NULL,
	[producto_cantidad_stock] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Productos_Sucursal_Nombre] UNIQUE NONCLUSTERED 
(
	[sucursal_id] ASC,
	[producto_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sucursales] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[sucursal_id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal_nombre] [nvarchar](150) NOT NULL,
	[franquicia_id] [int] NOT NULL,
 CONSTRAINT [PK_Sucursales] PRIMARY KEY CLUSTERED 
(
	[sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sucursales_Franquicia_Nombre] UNIQUE NONCLUSTERED 
(
	[franquicia_id] ASC,
	[sucursal_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Productos_Nombre] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Nombre] ON [dbo].[Productos]
(
	[producto_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Productos_SucursalID] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_SucursalID] ON [dbo].[Productos]
(
	[sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Sucursales_FranquiciaID] Fecha de script: 23/09/2026 7:16:59 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sucursales_FranquiciaID] ON [dbo].[Sucursales]
(
	[franquicia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Sucursales] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[Sucursales] ([sucursal_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Sucursales]
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK_Sucursales_Franquicias] FOREIGN KEY([franquicia_id])
REFERENCES [dbo].[Franquicias] ([franquicia_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK_Sucursales_Franquicias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_producto_cantidad_stock] CHECK  (([producto_cantidad_stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_producto_cantidad_stock]
GO
USE [master]
GO
